@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  width: 80%;
  min-height: 200px;
  margin: 0px auto;
}

body{
  font-family: 'Raleway', sans-serif;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 6944px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  overflow-x: hidden;
}

.btn {
  background: var(--unnamed-color-c1d632) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50px;
  border: none;
  opacity: 1;
  color: #FFFFFF;
  font-size: 1.1vmax;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 15px 42px;
}

.btn:hover{
  opacity: 0.8;
}

.btn-green
{
  background: #C1D632 0% 0% no-repeat padding-box;
}

.btn-blue
{
  background: #1F9BB2 0% 0% no-repeat padding-box;
}

.title{
  margin-top: 224px;
  font: normal normal 600 54px/64px Raleway;
  color: #1F9BB2;
  text-align: center;
  display: block;
  line-height: 1.2em;
}

.sub-title{
  margin: 41px auto;
  color: #666666;
  width: 750px;
  text-align: center;
  line-height: 40px;
  height: 165px;
}

/* Responsive */
@media (max-width: 1024px){
  .title{
    font-size: 4vmax;
  }
}

/* Mobile Nav Button */
.menu-toggle span{
  display: block;
  width: 28px;
  height: 3px;
  background-color: #000000;
  border-radius: 3px;
}

.menu-toggle{
  display: none;
}

header{
  margin: 20px auto;
  width: 96%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  position: relative;
  z-index: 100;
  /* transition: all .5s linear; */
}

.sticky {
  z-index: 5;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  /* transition: all .5s linear; */
  box-shadow: 0px 10px 5px #a0a0a01a;
  margin: 0;
  padding: 5px 2%;
}

.sticky + .banner {
  padding-top: 120px;
}

.logo{
  cursor: pointer;
  max-width: 100%;;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding-right: 17px;
  padding-left: 17px;
}

.nav-links li, a{
  font-size: 1.1vmax;
  color: #666666;
  text-decoration: none;
  font-weight: 600px;
}

.nav-buttons {
  margin-left: auto;
}

/* Responsive Breakpoint */
@media (max-width: 1024px){
  body{
    overflow-x: hidden;
  }

  .sticky + .banner {
    padding-top: 90px;
  }

  header{
    background-color: #FFFFFF;
    margin: auto;
    width: 100%;
    padding: 10px 2%;
  }
   
  .menu-toggle{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    cursor: pointer;
  }

  .menu-toggle.click{
    box-shadow: 0px 3px 6px #00000029;
  }

  .nav-links{
    margin-right: -10px;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 90%;
    height: 80vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px #0000005e;
  }

  .nav-links li a:hover{
    font-size: 24px;
    transition: all 0.2s linear;
  }

  .nav-links li, a{
    font-size: 16px;
    padding: 20px 0;
    transition: all 0.2s linear;
    text-align: center;
    font-weight: 500;
  }

  .nav-links li{
    border-bottom: 3px solid #1F9BB2;
    width: 80%;
  }

  .nav-links.show{
    display: flex;
    z-index: 2;
    margin-top: 70px;
  }

  .logo img{
    cursor: pointer;
    width: 70%;
  }
}

/* Main Pictures */
.banner{
  overflow: hidden;
  width: 100%;
  height: auto;
  padding-bottom: 200px;
  display: inline-block;
}

.main-bg{
  position: absolute;
  top: -85.18868255615234px;
  right:  -120px;
}

.main-bg-2{
  position: absolute;     
  top: -118px;
  right: -160px;
}

.text-box{
  position: relative;
  z-index: 2;
  width: 624px;
  margin-left: 140px;
  margin-top: 160px;
}

.title-main{
  color: #666666;
  font-size: 2.8vmax;
  font-weight: 600;
}

.sub-title-main{
  margin-top: 40px;
  font-size: 3vmax;
  color: #1F9BB2;
}

.text-box .btn{
  padding: 21px 40px;
  margin-top: 30px;
  font-size: 24px;
  box-shadow: 0px 10px 25px #00000029;
}

.partner-top{
  position: relative;
  z-index: 2;
  width: 40%;
  margin-left: 140px;
  margin-top: 86px;
}

.partner-top img{
  width: 100%;
}

/* Responsive Breakpoint */
@media (max-width: 1024px){
  .main-bg{
    top: 40px;
    right: 0px;
    width: 90%;
  }

  .main-bg-2{
    top: 20px;
    right: 0px;
    width: 90%;
  }

  .banner{
    padding-bottom: 80px;
  }

  /* .main-bg-2{
    position: absolute;
    top: -50px;
    right: 0;
    width: 80vmax;
    height: 80vmax;       
    background-repeat: no-repeat;          
  } */

  .text-box{
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 20px 20px;
    margin: 0;
  }

  .title-main{
    font-size: 4vmax;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.164);
  }

  .sub-title-main{
    font-size: 4vmax;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.164);
  }

  .text-box .btn {
    font-size: 2vmax;
  }

  .partner-top{
    z-index: 2;
    margin: 10px 2%;
    width: 95%;
    height: auto;
  }
}

/* Why */
#why{
  min-height: 200px;
}

.why-bg::before{
  content: '';
  background-image: url(../img/Path\ 6.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: 869px;
  left: -73.7122802734375px;
  width: 1159px;
  height: 1214.94px;
}

.why-bg::after{
  content: '';
  background-image: url(../img/Path\ 148.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: 2100px;
  right: -40px;
  width: 1108px;
  height: 849px;
}

.why-bg .container{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.why-bg .title{
  margin-top: 150px;
}

.card{
  flex: 1;
  margin-top: 83px;
  width: 27%;
  height: 459px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 25px #0000001A;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card-img{
  width: 76px;
  height: 72px;
  margin: 50px auto;
}

.card-img-bottom{
  width: 200px !important;
  margin: 10px auto !important;
}

.card h3{
  text-align: center;
  margin-top: 54px;
  color: #C1D632;
  font-size: 28px;
  font-weight: 600;
}

.card p{
  padding: 0 57px;
  text-align: center;
  margin: 50px auto;
  font-size: 20px;
  color: #666666;
  font-weight: 400px;
}

.video{
  position: relative;
  margin-top: 100px;
}

.video-img{
  width: 1260px;
  height: 709px;
  position: relative;
}

.video-play{
  position: absolute;
  top: 40%;
  left: 45%;
}

/* Responsive Breakpoint */
@media (max-width: 1024px){
  .why-bg::before{
    width: 100%;
    height: 1214.94px;
  }

  .why-bg::after{
    right: 0;
  }

  .why-bg .title{
    margin: 0;
  }

  .why-bg .container{
    flex-direction: column;
  }

  .why-bg .card{
    width: 100%;
  }

  .video-img{
    width: 100%;
    height: 100%;
  }

  .video-play{
    position: absolute;
    top: 30%;
    left: 40%;
    width: 90px;
  }

  .why-bg .title{
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Portofolio */
.portofolio{
  margin-top: 320px;
}

.portofolio .title{
  margin: auto;
  width: 878px;
}

.portofolio .container{
  width: 100%;
  min-height: 200px;
  margin: 0px auto;
}

.portofolio .card{
  margin: 5px auto;
  width: 381px;
  height: 620px;
}

.portofolio .card-img{
  width: 381px;
  height: 359px;
  margin: auto;
  text-align: center;
}

.portofolio .card h3{
  text-align: center;
  margin-top: 45px;
  color: #C1D632;
  font-size: 28px;
  font-weight: 600;
}

.portofolio .card p{
  width: 328px;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  color: #666666;
  font-weight: 400px;
}

.slider-wrap{
  margin: 100.27px auto 0 auto;
  width: 190px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider{
  width: 14.24px;
  height: 14.24px;
  background-color: #666666;
  border-radius: 50%;
  opacity: 50%;
  cursor: pointer;
}

.slider-selected{
  background-color: #1F9BB2;
  width: 20.47px;
  height: 20.47px;
  opacity: 100%;
}

@media (max-width: 1024px){
  .portofolio{
    margin-top: 100px;
  }

  .portofolio .title{
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
  }

  .portofolio .sub-title{
    width: 90%;
  }
}

/* testimonials */
.testimonials{
  height: 882px;
  position: relative;
}

.testimonials::after{
  content: '';
  background-image: url(../img/Path\ 146.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -315px;
  left: 0.36376953125px;
  width: 1415px;
  height: 1573px;
  z-index: -1;
}

.testimonials .title{
  margin-top: 105.94px;
}

.testimonials-img{
  margin: 242px auto 0 auto;
  position: relative;
  z-index: 2;
  text-align: center;
}

.img-thumbs{
  border: 7px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0px 10px 25px #0000001A;
}

.testimonials-text{
  width: 806px;
  margin: 57px auto 0 auto;
}

.testimonials p{
  color: #666666;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}

.testimonials h3{
  text-align: center;
  margin-top: 20px;
  color: #C1D632;
  font-size: 28px;
  font-weight: 600;
}

.img-thumbs-2{
  position: absolute;
  top: 173px;
  left: 384px;
  width: 63px;
  height: 63px;
}

.img-thumbs-3{
  position: absolute;
  top: 313px;
  left: 91px;
  width: 66px;
  height: 66px;
}

.img-thumbs-4{
  position: absolute;
  top: 491px;
  left: 315px;
  width: 87px;
  height: 87px;
}

.img-thumbs-5{
  position: absolute;
  top: 611px;
  left: 20px;
  width: 139px;
  height: 139px;
}

.img-thumbs-6{
  position: absolute;
  top: 211px;
  right: 27px;
  width: 105px;
  height: 105px;
}

.img-thumbs-7{
  position: absolute;
  top: 288px;
  right: 446px;
  width: 80px;
  height: 80px;
}

.img-thumbs-8{
  position: absolute;
  top: 630px;
  right: 361px;
  width: 67px;
  height: 67px;
}

.img-thumbs-9{
  position: absolute;
  top: 702px;
  right: 34px;
  width: 99px;
  height: 99px;
}

.testimonials .slider-wrap{
  margin: 102px auto 0 auto;
  width: 88px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Responsive Breakpoint */
@media (max-width: 1024px){
  .testimonials-text{
    width: 90%;
    position: relative;
    z-index: 2;
    background-color: #ffffffe8;
  }

  .testimonials-img{
    margin: 50px auto 0 auto;
  }

  .img-thumbs-2, .img-thumbs-3, .img-thumbs-4, .img-thumbs-5, .img-thumbs-6, .img-thumbs-7, .img-thumbs-8, .img-thumbs-9{
    display: none;
  }

  .testimonials::after{
    width: 100%;
    height: 1573px;
  }
}

/* partner */
.partner .title{
  margin-top: 221px;
}

.partner .container{
  margin-top: 100px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 1024px){
  .partner .container{
    margin-top: 70px;
  }
}

/* form */
.mulai-form{
  min-height: 200px;
  width: 100%;
  position: relative;
}

.mulai-form::after{
  content: '';
  background-image: url(../img/Path\ 145.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -60px;
  right: -20px;
  width: 1044px;
  height: 952px;
  z-index: -1;
}

.mulai-form .title{
  width: 762px;
  margin: 161px auto 0 auto;
}

.mulai-form .container{
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-wrap{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 80%;
  height: 561px;
  margin: 107px auto 0 auto;
}

.form-data .sub-title-main{
  font-size: 46px;
  text-align: center;
}

.form-img{
  border-radius: 15px 0px 0px 15px;
  box-shadow: 0px 10px 25px #0000001A;
  height: 561px;
  width: 50%;
}

.form-data{
  box-shadow: 0px 10px 25px #0000001A;
  border-radius: 0px 15px 15px 0px;
  background-color: #FFFFFF;
  width: 80%;
  height: 561px;
  text-align: center;
}

.form-data .sub-title{
  margin-top: 8px;
  margin-bottom: 0;
  height: 51px;
}

.form-data input{
  font: normal normal normal 20px/40px Raleway;
  margin: 30px 94px 0 94px;
  width: 70%;
  height: 60px;
  border: 1px solid #DADADA;
  border-radius: 50px;
  padding: 18px 30px;
}

.form-data button{
  margin: 30px auto 0 auto;
  text-align: center;
  padding: 22px 48px;
  font-size: 22px;
}

@media (max-width: 1024px){
  .form-wrap{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 900px;
    margin: 40px auto;
    background-color: #FFFFFF;
  }

  .mulai-form::after{
    top: -60px;
    right: 0;
    width: 1044px;
    height: 952px;
    z-index: -1;
  }

  .form-img{
    width: 100%;
    height: auto;
  }
  
  .form-data{
    width: 100%;
    height: 700px;
  }

  .mulai-form .title{
    width: 100%;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
  }

  .form-data .sub-title{
    width: auto;
  }

  .form-data input{
    font: normal normal normal 16px/40px Raleway;
    margin: 30px auto 0 auto;
    width: 80%;
    height: 60px;
    border: 1px solid #DADADA;
    border-radius: 50px;
    padding: 18px 30px;
  }

  .form-data button {
    width: 30vmax;
    height: 6vmax;
    font-size: 2vmax;
    padding: 0;
    margin: 40px auto;
  }
}

/* footer */
.footer .container{
  width: 85%;
  min-height: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.footer-box{
  margin: 290px 0 122px 0;
}

.footer .sub-title{
  margin: 0;
  color: #666666;
  width: auto;
  text-align: left;
  line-height: 30px;
  height: 165px;
  font-size: 18px;
}

.footer .title{
  margin-top: 0;
  margin-bottom: 20px;
  font: normal normal 600 24px Raleway;
  color: #1F9BB2;
  text-align: left;
  display: block;
}

.footer-img{
  margin-right: 22.5px;
}

/* Responsive Breakpoint */
@media (max-width: 1024px){
  .footer .container{
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-box{
    margin: 0;
  }

  .footer .sub-title{
    height: auto;
    margin-bottom: 50px;
  }
}
/* Owl Carousel */
.owl-dots{
  margin: 100.27px auto 0 auto;
  width: 190px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.owl-dot{
  width: 14.24px;
  height: 14.24px;
  background-color: #666666 !important;
  border-radius: 50%;
  opacity: 50%;
}

.owl-dots .active{
  background-color: #1F9BB2 !important;
  width: 20.47px;
  height: 20.47px;
  opacity: 100%;
}

.owl-prev, .owl-next {
  width: 65px;
  height: 65px;
  background-color: #FFFFFF !important;
  border-radius: 50%;
  position: absolute;
  top: 200px;
  display: block !important;
  border:0px solid black;
  color: #0099DA !important;
  box-shadow: 0px 3px 6px #00000029;
}

.owl-prev {
  left: 100px;
}

.owl-next{
  right: 100px;
}

.owl-carousel .owl-item img{
  width: auto !important;
  margin: 0 auto;
}

@media (max-width: 1024px){
  .owl-prev {
    left: 50px;
  }
  
  .owl-next{
    right: 50px;
  }
}