@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  width: 80%;
  min-height: 200px;
  margin: 0px auto;
}

body{
  font-family: 'Raleway', sans-serif;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 6944px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  overflow-x: hidden;
}

button {
  background: var(--unnamed-color-c1d632) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50px;
  border: none;
  opacity: 1;
  width: 200px;
  height: 50px;
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  font: normal normal 600 18px/21px Raleway;
}

.btn-green
{
  background: #C1D632 0% 0% no-repeat padding-box;
}

.btn-blue
{
  background: #1F9BB2 0% 0% no-repeat padding-box;
}

.title{
  margin-top: 224px;
  font: normal normal 600 54px/64px Raleway;
  color: #1F9BB2;
  text-align: center;
  display: block;
  line-height: 1.2em;
}

.sub-title{
  margin: 41px auto;
  color: #666666;
  width: 750px;
  text-align: center;
  line-height: 40px;
  height: 165px;
}

/* Responsive */
@media (max-width: 1024px){
  .title{
    font-size: 4vmax;
  }
}

/* Mobile Nav Button */
.menu-toggle span{
  display: block;
  width: 28px;
  height: 3px;
  background-color: #000000;
  border-radius: 3px;
}

.menu-toggle{
  display: none;
}

/* Responsive Breakpoint */
@media (max-width: 1024px){
  .menu-toggle{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    cursor: pointer;
  }

  .menu-toggle.click{
    box-shadow: 0px 3px 6px #00000029;
  }

  .nav-links{
    z-index: 1;
    display: none;
    width: 100vmax;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000029;
  }

  .nav-links li a:hover{
    font-size: 24px;
    transition: all 0.2s linear;
  }

  .nav-links li, a, button{
    font-size: 16px;
    padding: 20px 0;
    transition: all 0.2s linear;
    text-align: center;
    font-weight: 500;
  }

  .nav-links li{
    border-bottom: 3px solid #1F9BB2;
    width: 80%;
  }

  .nav-links.show{
    display: flex;
    z-index: 2;
    margin-top: -70px;
  }
}

header{
  margin: 20px auto;
  width: 96%;
  height: 78px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  position: relative;
  z-index: 100;
}

.logo{
  cursor: pointer;
  width: 211.98px;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding-right: 17px;
  padding-left: 17px;
}

.nav-links li, a{
  font-size: 20px;
  color: #666666;
  text-decoration: none;
  font-weight: 600px;
}

.nav-buttons {
  margin-left: auto;
}


/* Main Pictures */
.banner{
  min-height: 920px;
  overflow: hidden;
  width: 100%;
}

.main-bg{
  background-image: url(../img/Path\ 4.svg);
  height: 1038.69px;
  background-repeat: no-repeat;
  position: absolute;
  top: -85.18868255615234px;
  right:  -120px;
  width: 1185px;
  height: 1124px;
}

.main-bg-2{
  float: right;
  background-image: url(../img/NoPath.png);
  position: absolute;
  top: -118px;
  right: -160px;
  width: 1169px;
  height: 1119px;       
  background-repeat: no-repeat;          
}

.text-box{
  position: relative;
  z-index: 2;
  width: 624px;
  margin-left: 140px;
  margin-top: 160px;
}

.title-main{
  color: #666666;
  font-size: 54px;
  font-weight: 600;
}

.sub-title-main{
  margin-top: 40px;
  font-size: 54px;
  color: #1F9BB2;
}

.text-box button{
  width: 280px;
  height: 70px;
  margin-top: 30px;
  font-size: 24px;
  box-shadow: 0px 10px 25px #00000029;
}

.partner-top{
  position: relative;
  z-index: 2;
  background: transparent url('../img/Image\ 20@2x.png') 0% 0% no-repeat padding-box;
  width: 740px;
  height: 125px;
  background-size: cover;
  background-position: center;
  margin-left: 140px;
  margin-top: 86px;
}

/* Responsive Breakpoint */
@media (max-width: 1024px){
  .main-bg{
    background-image: url(../img/Path\ 4.svg);
    background-size: cover;
    height: 1038.69px;
    background-repeat: no-repeat;
    position: absolute;
    top: -30px;
    right:  -120px;
    width: 80vmax;
    height: 80vmax;
  }

  .main-bg-2{
    background-image: url(../img/NoPath.png);
    background-size: cover;
    position: absolute;
    top: -50px;
    right: -160px;
    width: 80vmax;
    height: 80vmax;       
    background-repeat: no-repeat;          
  }

  .text-box{
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 20px 20px;
    margin: 0;
  }

  .title-main{
    font-size: 4vmax;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.671);
  }

  .sub-title-main{
    font-size: 4vmax;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.671);
  }

  .text-box button {
    width: 30vmax;
    height: 6vmax;
    font-size: 2vmax;
    padding: 0;
  }

  .partner-top{
    position: relative;
    z-index: 2;
    background: url('../img/Image\ 20@2x.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px 20px;
    width: 90%;
    height: 10vmax;
  }
  
  .banner{
    min-height: 0;
  }
}

/* Why */
#why{
  min-height: 200px;
}

.why-bg::before{
  content: '';
  background-image: url(../img/Path\ 6.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: 869px;
  left: -73.7122802734375px;
  width: 1159px;
  height: 1214.94px;
}

.why-bg::after{
  content: '';
  background-image: url(../img/Path\ 148.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: 2100px;
  right: -40px;
  width: 1108px;
  height: 849px;
}

.why-bg .container{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card{
  margin-top: 83px;
  width: 400px;
  height: 459px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 25px #0000001A;
  border-radius: 10px;
}

.card-img{
  width: 76px;
  height: 72px;
  margin: 50px auto;
}

.card h3{
  text-align: center;
  margin-top: 54px;
  color: #C1D632;
  font-size: 28px;
  font-weight: 600;
}

.card p{
  width: 328px;
  text-align: center;
  margin: 50px auto;
  font-size: 20px;
  color: #666666;
  font-weight: 400px;
}

.video{
  position: relative;
  margin-top: 100px;
}

.video-img{
  width: 1260px;
  height: 709px;
  position: relative;
}

.video-play{
  position: absolute;
  top: 40%;
  left: 45%;
}

/* Responsive Breakpoint */
@media (max-width: 1024px){
  .video-img{
    width: 100%;
    height: 100%;
  }

  .video-play{
    position: absolute;
    top: 30%;
    left: 40%;
    width: 90px;
  }
}

/* Portofolio */
.portofolio{
  margin-top: 220px;
}

.portofolio .title{
  margin: auto;
  width: 878px;
}

.portofolio .container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.portofolio .card{
  margin-top: 0;
  width: 381px;
  height: 620px;
}

.portofolio .card-img{
  width: 381px;
  height: 359px;
  margin: auto;
  text-align: center;
}

.portofolio .card h3{
  text-align: center;
  margin-top: 45px;
  color: #C1D632;
  font-size: 28px;
  font-weight: 600;
}

.portofolio .card p{
  width: 328px;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  color: #666666;
  font-weight: 400px;
}

.slider-wrap{
  margin: 100.27px auto 0 auto;
  width: 190px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider{
  width: 14.24px;
  height: 14.24px;
  background-color: #666666;
  border-radius: 50%;
  opacity: 50%;
}

.slider-selected{
  background-color: #1F9BB2;
  width: 20.47px;
  height: 20.47px;
  opacity: 100%;
}

@media (max-width: 1024px){
  .portofolio{
    margin-top: 100px;
  }

  .portofolio .title{
    margin: auto;
    width: 100%;
  }

  .portofolio .sub-title{
    width: 90%;
  }
}

/* testimonials */
.testimonials{
  height: 882px;
  position: relative;
}

.testimonials::after{
  content: '';
  background-image: url(../img/Path\ 146.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -315px;
  left: 0.36376953125px;
  width: 1415px;
  height: 1573px;
  z-index: -1;
}

.testimonials .title{
  margin-top: 105.94px;
}

.testimonials-img{
  margin: 242px auto 0 auto;
  position: relative;
  z-index: 2;
  text-align: center;
}

.img-thumbs{
  border: 7px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0px 10px 25px #0000001A;
}

.testimonials-text{
  width: 806px;
  margin: 57px auto 0 auto;
}

.testimonials p{
  color: #666666;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}

.testimonials h3{
  text-align: center;
  margin-top: 20px;
  color: #C1D632;
  font-size: 28px;
  font-weight: 600;
}

.img-thumbs-2{
  position: absolute;
  top: 173px;
  left: 384px;
  width: 63px;
  height: 63px;
}

.img-thumbs-3{
  position: absolute;
  top: 313px;
  left: 91px;
  width: 66px;
  height: 66px;
}

.img-thumbs-4{
  position: absolute;
  top: 491px;
  left: 315px;
  width: 87px;
  height: 87px;
}

.img-thumbs-5{
  position: absolute;
  top: 611px;
  left: 20px;
  width: 139px;
  height: 139px;
}

.img-thumbs-6{
  position: absolute;
  top: 211px;
  right: 27px;
  width: 105px;
  height: 105px;
}

.img-thumbs-7{
  position: absolute;
  top: 288px;
  right: 446px;
  width: 80px;
  height: 80px;
}

.img-thumbs-8{
  position: absolute;
  top: 630px;
  right: 361px;
  width: 67px;
  height: 67px;
}

.img-thumbs-9{
  position: absolute;
  top: 702px;
  right: 34px;
  width: 99px;
  height: 99px;
}

.testimonials .slider-wrap{
  margin: 102px auto 0 auto;
  width: 88px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Responsive Breakpoint */
@media (max-width: 1024px){
  .testimonials-text{
    width: 90%;
    position: relative;
    z-index: 2;
    background-color: #ffffffe8;
  }

  .img-thumbs-2{
    position: absolute;
    top: 173px;
    left: 384px;
    width: 63px;
    height: 63px;
  }
  
  .img-thumbs-3{
    position: absolute;
    top: 313px;
    left: 91px;
    width: 66px;
    height: 66px;
  }
  
  .img-thumbs-4{
    position: absolute;
    top: 491px;
    left: 315px;
    width: 87px;
    height: 87px;
  }
  
  .img-thumbs-5{
    position: absolute;
    top: 611px;
    left: 20px;
    width: 139px;
    height: 139px;
  }
  
  .img-thumbs-6{
    position: absolute;
    top: 211px;
    right: 27px;
    width: 105px;
    height: 105px;
  }
  
  .img-thumbs-7{
    position: absolute;
    top: 288px;
    right: 446px;
    width: 80px;
    height: 80px;
  }
  
  .img-thumbs-8{
    position: absolute;
    top: 630px;
    right: 361px;
    width: 67px;
    height: 67px;
  }
  
  .img-thumbs-9{
    position: absolute;
    top: 702px;
    right: 34px;
    width: 99px;
    height: 99px;
  }
}

/* partner */
.partner .title{
  margin-top: 221px;
}

.partner .container{
  margin-top: 100px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* form */
.mulai-form{
  min-height: 200px;
}

.mulai-form::after{
  content: '';
  background-image: url(../img/Path\ 145.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 5720px;
  left: 876px;
  width: 1044px;
  height: 952px;
  z-index: -1;
}

.mulai-form .title{
  width: 762px;
  margin: 161px auto 0 auto;
}

.mulai-form .container{
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .form-img{
  width: 760px;
  height: 561px;
}

.form-text{
  background-color: #b10000;
  width: 760px;
  height: 561px;
} */

.form-wrap{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 80%;
  height: 561px;
  margin: 107px auto 0 auto;
}

.form-data .sub-title-main{
  font-size: 46px;
  text-align: center;
}

.form-img{
  border-radius: 15px 0px 0px 15px;
  box-shadow: 0px 10px 25px #0000001A;
  height: 561px;
  width: 50%;
}

.form-data{
  box-shadow: 0px 10px 25px #0000001A;
  border-radius: 0px 15px 15px 0px;
  background-color: #FFFFFF;
  width: 80%;
  height: 561px;
  text-align: center;
}

.form-data .sub-title{
  margin-top: 8px;
  margin-bottom: 0;
  height: 51px;
}

.form-data input{
  font: normal normal normal 20px/40px Raleway;
  margin: 30px 94px 0 94px;
  width: 70%;
  height: 60px;
  border: 1px solid #DADADA;
  border-radius: 50px;
  padding: 18px 30px;
}

.form-data button{
  margin-top: 30px;
  margin-left: 30%;
  text-align: center;
  width: 280px;
  height: 70px;
  font-size: 22px;
}

@media (max-width: 1024px){
  .form-wrap{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 900px;
    margin: 40px auto;
    background-color: #FFFFFF;
  }

  .form-img{
    width: 100%;
    height: auto;
  }
  
  .form-data{
    width: 100%;
    height: 700px;
  }

  .form-data .sub-title{
    width: auto;
  }

  .form-data input{
    font: normal normal normal 16px/40px Raleway;
    margin: 30px auto 0 auto;
    width: 80%;
    height: 60px;
    border: 1px solid #DADADA;
    border-radius: 50px;
    padding: 18px 30px;
  }

  .form-data button {
    width: 30vmax;
    height: 6vmax;
    font-size: 2vmax;
    padding: 0;
    margin: 40px auto;
  }
}

/* footer */
.footer .container{
  width: 85%;
  min-height: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.footer-box{
  margin: 290px 0 122px 0;
}

.footer .sub-title{
  margin: 0;
  color: #666666;
  width: auto;
  text-align: left;
  line-height: 30px;
  height: 165px;
  font-size: 18px;
}

.footer .title{
  margin-top: 0;
  margin-bottom: 20px;
  font: normal normal 600 24px Raleway;
  color: #1F9BB2;
  text-align: left;
  display: block;
}

.footer-img{
  margin-right: 22.5px;
}

/* Responsive Breakpoint */
@media (max-width: 1024px){
  .footer .container{
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-box{
    margin: 0;
  }

  .footer .sub-title{
    height: auto;
    margin-bottom: 50px;
  }
}

.owl-dots{
  text-align: center;
}
.owl-dot{
  height: 15px;
  width: 45px;
  border-radius: 25px;
  border: 2px solid blue !important;
}