@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  width: 80%;
  min-height: 200px;
  margin: 0px auto;
}

body{
  font-family: 'Raleway', sans-serif;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 6944px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  overflow-x: hidden;
}

header{
  margin: 20px auto;
  width: 96%;
  height: 78px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  position: relative;
  z-index: 100;
}

.logo{
  cursor: pointer;
  width: 211.98px;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding-right: 35px;
}

.nav-links li, a{
  font-size: 20px;
  color: #666666;
  text-decoration: none;
  font-weight: 600px;
}

.nav-buttons {
  margin-left: auto;
}

button {
  background: var(--unnamed-color-c1d632) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50px;
  border: none;
  opacity: 1;
  width: 200px;
  height: 50px;
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  font: normal normal 600 18px/21px Raleway;
}

.btn-green
{
  background: #C1D632 0% 0% no-repeat padding-box;
}

.btn-blue
{
  background: #1F9BB2 0% 0% no-repeat padding-box;
}

/* Main Pictures */
.banner{
  min-height: 920px;
  overflow: hidden;
  width: 100%;
}

.main-bg{
  background-image: url(../img/Path\ 4.svg);
  height: 1038.69px;
  background-repeat: no-repeat;
  position: absolute;
  top: -85.18868255615234px;
  right:  -120px;
  width: 1185px;
  height: 1124px;
}

.main-bg-2{
  float: right;
  background-image: url(../img/NoPath.png);
  position: absolute;
  top: -118px;
  right: -160px;
  width: 1169px;
  height: 1119px;       
  background-repeat: no-repeat;          
}

.text-box{
  position: relative;
  z-index: 2;
  width: 624px;
  margin-left: 140px;
  margin-top: 160px;
}

.text-box h1{
  color: #666666;
  font-size: 54px;
  font-weight: 600;
}

.text-box h2{
  margin-top: 40px;
  font-size: 54px;
  color: #1F9BB2;
}

.text-box button{
  width: 280px;
  height: 70px;
  margin-top: 30px;
  font-size: 24px;
  box-shadow: 0px 10px 25px #00000029;
}

.partner{
  position: relative;
  z-index: 2;
  background: transparent url('../img/Image\ 20@2x.png') 0% 0% no-repeat padding-box;
  width: 740px;
  height: 125px;
  background-size: cover;
  background-position: center;
  margin-left: 140px;
  margin-top: 86px;
}

/* Why */
#why{
  min-height: 200px;
}

.why-bg::before{
  content: '';
  background-image: url(../img/Path\ 6.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: 869px;
  left: -73.7122802734375px;
  width: 1159px;
  height: 1214.94px;
}

.why-bg::after{
  content: '';
  background-image: url(../img/Path\ 148.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: 2100px;
  left: 812px;
  width: 1108px;
  height: 849px;
}

.why-bg .container{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.title{
  margin-top: 224px;
  font: normal normal 600 54px/64px Raleway;
  color: #1F9BB2;
  text-align: center;
  display: block;
}

.card{
  margin-top: 83px;
  width: 400px;
  height: 459px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 25px #0000001A;
  border-radius: 10px;
}

.card-img{
  width: 76px;
  height: 72px;
  margin: 50px auto;
}

.card h3{
  text-align: center;
  margin-top: 54px;
  color: #C1D632;
  font-size: 28px;
  font-weight: 600;
}

.card p{
  width: 328px;
  text-align: center;
  margin: 50px auto;
  font-size: 20px;
  color: #666666;
  font-weight: 400px;
}

.video{
  position: relative;
  margin-top: 100px;
}

.video-img{
  width: 1260px;
  height: 709px;
  position: relative;
}

.video-play{
  position: absolute;
  top: 40%;
  left: 45%;
}

/* Portofolio */
.portofolio .title{
  margin: 220px auto 0 auto;
  width: 878px;
}

.sub-title{
  margin: 41px auto;
  color: #666666;
  width: 750px;
  text-align: center;
  line-height: 40px;
  height: 165px;
}

.portofolio .container{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.portofolio .card{
  margin-top: 0;
  width: 381px;
  height: 620px;
}

.portofolio .card-img{
  width: 381px;
  height: 359px;
  margin: auto;
  text-align: center;
}

.portofolio .card h3{
  text-align: center;
  margin-top: 45px;
  color: #C1D632;
  font-size: 28px;
  font-weight: 600;
}

.portofolio .card p{
  width: 328px;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  color: #666666;
  font-weight: 400px;
}